
<div class="container">
  <div class="card-container-home">
    <div class="card-body-home">
      <h1 class="text-center">wakuveling とは？</h1>
      <h4 class="text-center">日本にはまだ自分の知らない素敵な場所がたくさんあるはず</h4>
      <h2 class="text-center">おすすめ観光スポットをみんなで共有しよう！</h2>
    </div>
  </div>
</div>

<div class="top-image-box"><%#= image_tag('sea-top.jpg', class: 'top-image') %></div>




<style>
  .bg-image {
    background-image: url("<%= asset_path('sea-top.jpg') %>");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 800px;
  }
</style>