

<div class="top-image-box"><%#= image_tag('sea-top.jpg', class: 'top-image') %></div>
<style>
  .bg-image {
    background-image: url("<%= asset_path('sea-top.jpg') %>");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
  }
</style>