
<div class="container">
  <div class="card-container">
    <div class="card-body">
      <h3 class="text-center">about wakuveling</h3>
    </div>
  </div>
</div>

<div class="top-image-box"><%#= image_tag('sea-top.jpg', class: 'top-image') %></div>




<style>
  .bg-image {
    background-image: url("<%= asset_path('sea-top.jpg') %>");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 800px;
  }
</style>